# Python caching
**/__pycache__/
*.pyc
/.mypy_cache/

# Typical virtualenv dir
venv/

# IDE settings
.idea/

# Python distribution artifacts
build/
dist/
*.egg-info/
docs/build/

# Coverage artifacts
.coverage
htmlcov/
docs/build/
.hypothesis/

# Customized config files
sdk/test/test_config.ini
# Schema files needed for testing
sdk/test/adapter/schemas

# Ignore dynamically generated version file
sdk/basyx/version.py
compliance_tool/aas_compliance_tool/version.py
server/app/version.py

# Ignore the content of the server storage
server/input/
server/storage/
