# Python caching
**/__pycache__/
*.pyc
/.mypy_cache/

# Typical virtualenv dir
/venv/

# IDE settings
/.idea/

# Python distribution artifacts
/build/
/dist/
/*.egg-info/
/docs/build/

# Coverage artifacts
/.coverage
/htmlcov/

# customized config files
/test/test_config.ini
