# Python build artifacts
__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
venv/
env/

# IDE specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
*.swp

# Project specific
basyx/version.py
