name: release

on:
  release:
    types: [published]

jobs:
  publish:
    # This job publishes the package to PyPI
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sdk
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Create source and wheel dist
      # (2024-12-11, s-heppner)
      # The PyPI Action expects the dist files in a toplevel `/dist` directory,
      # so we have to specify this as output directory here.
      run: |
        python -m build --outdir ../dist
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_ORG_TOKEN }}
